<div class="container-fluid mt-3">
  <p>Data Received From Child Comp : {{dataReceivedFromChildComp?.name}}</p>
  <p>Data Accessed From Child Comp : {{dataAccessedFromChildComp}}</p>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" data-bs-toggle="tab" data-bs-target="#basic-databinding" role="tab"
        aria-controls="basic-databinding" aria-selected="true">Basic Data Binding</a>
      <a class="nav-item nav-link" data-bs-toggle="tab" data-bs-target="#cpb-databinding" role="tab"
        aria-controls="cpb-databinding" aria-selected="true">Custom Property Binding</a>
      <a class="nav-item nav-link" data-bs-toggle="tab" data-bs-target="#ceb-databinding" role="tab"
        aria-controls="ceb-databinding" aria-selected="true">Custom Event Binding</a>
      <a class="nav-item nav-link" data-bs-toggle="tab" data-bs-target="#directives-tab" role="tab"
        aria-controls="directives-tab" aria-selected="false">Directives</a>
      <a class="nav-item nav-link" data-bs-toggle="tab" data-bs-target="#pipes-tab" role="tab" aria-controls="pipes-tab"
        aria-selected="false">Pipes</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade show active" id="basic-databinding" role="tabpanel"
      aria-labelledby="basic-databinding-tab">
      <h2>Basic Data Binding</h2>
      <h3>Interpolation</h3>
      <p>App Name: {{appName}}</p>
      <input type="text" value="{{companyProfile.name}}"/>
      <div title="{{companyProfile.employeesCount}}">
        Mouseover to see the Cognizant's Employee Count
      </div>

      <hr>
      <h3>Property Binding</h3>
      Team Size: <input type="text" [value]="teamSize">
      <div [title]="teamSize" >
        Mouseover to see the Team Size
      </div>

      <hr>
      <h3>Event Binding</h3>
      <button (click)="handleClickMe($event.target)">Click Me</button>

      <hr>
      <h3>Two Way Binding</h3>
      <p>{{courseName}}</p>
      <input type="text" value="{{courseName}}"> <br>
      <input type="text" [value]="courseName"> <br><br>
      <input type="text" [(ngModel)]="courseName">
    </div>

    <div class="tab-pane fade" id="cpb-databinding" role="tabpanel" aria-labelledby="cpb-databinding-tab">
      <h2>Parent to Child Comp Communication using Custom Property Binding </h2>
      <app-cpb></app-cpb>
      <!-- Step 3: pass the data thru the age property -->
      <app-cpb [age]="10"></app-cpb>
      <app-cpb [age]="20"></app-cpb>
      <app-cpb [age]="30"></app-cpb>
      <app-cpb [age]="myAge"></app-cpb>
    </div>

    <div class="tab-pane fade" id="ceb-databinding" role="tabpanel" aria-labelledby="ceb-databinding-tab">
      <h2>Child to Parent Comp Communication using Custom Event Binding</h2>
      <!-- Step 4 of CEB: LEt's add an event handler for the custom event-->
      <app-ceb (profileLoaded)="handleProfileLoaded($event)"></app-ceb> 
      <!-- Step 5 of CEB: Let's get the data thru $event-->
    </div>

    <div class="tab-pane fade" id="directives-tab" role="tabpanel" aria-labelledby="directives-tab">
      <h2>Directives</h2>

      <pre>
        Directives 
        --
          * Special Instructions to the DOM 
          * useful for altering apperance and behvaiour of an existing element

          1. Components -- (are also directives only )
              Used with a template. This type of directive is the most common directive type.

          2. Attribute Directives 
              Example: routerLink, routerLinkActive, ngModel, ngClass, ngStyle, ngForm, ngNativeValidate

          3. Structural Directives
              * the impact will be in structural layer (html)
              *ngIf, *ngFor, ngSwitch 

          4. Custom Attribute Directives 

          5. Custom Structural Directives 
      </pre>
      <h3>[ngStyle] Demo</h3>
      <div>This div has ngStyle attribute directive</div>

      <h3>Structural Directives</h3>
      <h4>*ngIf Demo</h4>
      <div class="alert alert-success" *ngIf="isLoggedIn; else notAuthBox">
        You are logged in! You can access premium features of the app
      </div>
      <ng-template #notAuthBox>
        <div class="alert alert-danger">
          Please login to access premium features of the app
        </div>
      </ng-template>

      <h4>*ngFor Demo</h4>
      <ul>
        <!-- TODO: learn about finding index in *ngFor -->
        <li *ngFor="let skill of skills">1. {{skill}}</li>
        <!-- TODO: do not display NodeJS -->
      </ul>

      <h4>[TODO:] ngSwitch Demo</h4>

      <hr>
      <h4>Custom Attribute Directive - Demo</h4>
      <div appColorizer>
        Random Text...
      </div>

      <h4>Custom Structural Directive - Demo of DemoIf</h4>
      <div *appDemoIf="isLoggedIn">
        <div class="alert alert-success">
          You are logged in
        </div>
      </div>
      <div *appDemoIf="!isLoggedIn">
        <div class="alert alert-danger">
          Pls login. 
        </div>
      </div>


      <h4>Custom Structural Directive - Demo of unless</h4>
      <div *appUnless="isLoggedIn">
        <button class="btn btn-danger">Logout</button>
      </div>
      <div *appUnless="!isLoggedIn">
        <button class="btn btn-success">Login</button>
      </div>

      <hr>
      <h4>ngTemplateOutlet</h4> 
      <ng-template #template1>
        <p>This is our template. It will be displayed in ng-container</p>
      </ng-template>
      
      <p>The Template appears after this</p>
      <!-- 
        We want to render the above template here.
        Hence we use the ngTemplateOutlet directive 
        Assign template1 to ngTemplateOutlet
      -->  
      <ng-container *ngTemplateOutlet="template1">
        This text is not displayed
      </ng-container>

      <ng-template let-value="value" #messageTemplate>  
        <p>Value Received from the Parent is  {{value}}</p>
      </ng-template>

      <ng-container [ngTemplateOutlet]="messageTemplate" [ngTemplateOutletContext] ="{value:'1000'}">
      </ng-container>


      <h3>ng-container, ngTemplateOutlet and ng-template</h3>

      <!-- random in the following will refer to $implicit in myContext -->
      <ng-template #eng1 let-random>
        <span>Hello {{random}}!</span>
      </ng-template>
      <ng-template #eng2 let-myAge="age1">
        <span>You are {{myAge}}!</span>
      </ng-template>
      <ng-template #italian let-personName="name">
        <span>Hola {{personName}}!</span>
      </ng-template>

      <!-- Refer: concepts.comp.ts also for a variable myContext -->
      <ng-container *ngTemplateOutlet="eng1; context: myContext"></ng-container>
      <hr>
      <ng-container *ngTemplateOutlet="eng2; context: myContext"></ng-container>
      <hr>
      <ng-container *ngTemplateOutlet="italian; context: myContext"></ng-container>
      <hr>

       
      <h4>Alternative Syntax is here</h4>
      <ng-template let-person="person"  #welcomeTemplate>  
        <p>Dear {{person.name}} , {{person.message}}</p>
      </ng-template>
      
      <ng-container [ngTemplateOutlet]="welcomeTemplate" 
        [ngTemplateOutletContext]="{ person:{name:'Guest',message:'Welcome to our site'} }"> 
        <!-- you can have the above obj in Ts also. -->
      </ng-container> 
      <ng-container [ngTemplateOutlet]="welcomeTemplate" 
        [ngTemplateOutletContext]="{ person:{name:'John',message:'Your Trial plan will end Today!'} }">
      </ng-container> 


    </div>

    <div class="tab-pane fade" id="pipes-tab" role="tabpanel" aria-labelledby="pipes-tab">
      <h2>Pipes</h2>
    </div>

  </div>
</div>