<ul class="navbar-nav me-auto mb-2 mb-md-0">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Concepts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Employee Management App</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Unit Testing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">About</a>
  </li>
  <ng-content></ng-content>
</ul>
