<div class="container pt-4">
  <div class="row">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Employee Manager App!</h1>
        <p class="col-md-8 fs-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui illum voluptatem eos
          aspernatur. </p>
        <a class="btn btn-primary btn-lg" routerLink="/employees/add" role="button">Create New Employee</a>
      </div>
    </div>
  </div>

  <div class="row">
    <h2>{{featureName}}</h2>
    
    <!-- TODO: Show the loader / spinner at first -->
    <div class="card col-sm-3" *ngFor="let employee of employees">
      <div class="card-body">
        <h5 class="card-title">{{employee.name}}</h5>
        <p class="card-text">{{employee.phone}}</p>
        <a routerLink="/employees/{{employee.id}}" class="card-link">View Details</a>
      </div>
    </div>

  </div>

</div>