<div class="container"> 
  <h1>Unit Testing Demo</h1>
  <app-counter></app-counter>

  <hr>
  
  <section data-testid="highlightWrapper" appHighlight="skyblue">
    <h2>Testing Directive</h2>
    <p>Refer: unit-testing-demo.component.spec.ts</p>
    <p>Also Refer: highlight.directive.spec.ts</p>
  </section>

   <section data-testid="highlightWrapper2" appHighlight>
    <h2>Testing Directive</h2>
    <p>Refer: unit-testing-demo.component.spec.ts</p>
    <p>Also Refer: highlight.directive.spec.ts</p>
  </section>

  <div appHighlight="yellow">
    <h2>Testing Reactive Forms</h2>
    <p>For Testing Reactive Form with validations </p>
    <p>Refer: add-employee.component.spec.ts</p>
  </div>

  <hr>
  <h3>{{featureName}}</h3>
  
  <div appHighlight="lightgreen">
    <h2>Testing Service from Comp</h2>
    <p>Refer: list-employees.component.spec.ts</p>
  </div>

</div>
